<a href="https://colab.research.google.com/github/Ayisha-Parveen/Hamoye_Assignments/blob/main/Hamoye_Assingment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding = "latin-1")

In [3]:
dataset.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [9]:
dataset['Item'].unique()

array(['Population', 'Grand Total', 'Vegetal Products', 'Animal Products',
       'Cereals - Excluding Beer', 'Wheat and products',
       'Rice and products', 'Barley and products', 'Maize and products',
       'Rye and products', 'Oats', 'Millet and products',
       'Sorghum and products', 'Cereals, Other', 'Starchy Roots',
       'Cassava and products', 'Potatoes and products', 'Sweet potatoes',
       'Yams', 'Roots, Other', 'Sugar Crops', 'Sugar cane', 'Sugar beet',
       'Sugar & Sweeteners', 'Sugar (Raw Equivalent)',
       'Sweeteners, Other', 'Honey', 'Pulses', 'Beans', 'Peas',
       'Pulses, Other and products', 'Treenuts', 'Nuts and products',
       'Oilcrops', 'Soyabeans', 'Groundnuts (Shelled Eq)',
       'Sunflower seed', 'Rape and Mustardseed', 'Cottonseed',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Oilcrops, Other',
       'Vegetable Oils', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palmkernel Oil', 'Palm Oil', 'Coconut Oil', 'Sesameseed Oil',
       'Olive Oil', 'Maize Germ Oil', 'Oilcrops Oil, Other', 'Vegetables',
       'Tomatoes and products', 'Onions', 'Vegetables, Other',
       'Fruits - Excluding Wine', 'Oranges, Mandarines',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products',
       'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other', 'Stimulants',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Spices', 'Pepper', 'Pimento', 'Cloves',
       'Spices, Other', 'Alcoholic Beverages', 'Wine', 'Beer',
       'Beverages, Fermented', 'Beverages, Alcoholic',
       'Alcohol, Non-Food', 'Meat', 'Bovine Meat', 'Mutton & Goat Meat',
       'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals',
       'Offals, Edible', 'Animal fats', 'Butter, Ghee', 'Cream',
       'Fats, Animals, Raw', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs',
       'Milk - Excluding Butter', 'Fish, Seafood', 'Freshwater Fish',
       'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other',
       'Crustaceans', 'Cephalopods', 'Molluscs, Other',
       'Aquatic Products, Other', 'Aquatic Animals, Others',
       'Aquatic Plants', 'Miscellaneous', 'Infant food',
       'Sugar non-centrifugal', 'Palm kernels', 'Ricebran Oil'],
      dtype=object)

In [19]:
# Question 11
itemSum = dataset.groupby("Item")["Y2014","Y2017"].sum()
itemSum.loc["Animal fats"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [21]:
# Question 12
mean = dataset["Y2015"].mean().round(3)
standardDeviation = dataset["Y2015"].std().round(3)
print("Mean(2015): {}".format(mean))
print("StandardDeviation(2015): {}".format(standardDeviation))

Mean(2015): 135.236
StandardDeviation(2015): 1603.404

In [23]:
# Question 13
missingDataCount2016 = dataset["Y2016"].isnull().sum()
missingDataPercentage2016 = (missingDataCount2016/len(dataset["Y2016"]))*100
print("Missing Data Count in 2016 : {}".format(missingDataCount2016))
print("Missing Data Percentage in 2016 : {}".format(missingDataPercentage2016.round(2)))

Missing Data Count in 2016 : 1535
Missing Data Percentage in 2016 : 2.52

In [37]:
# Question 14
correlation = dataset.corr()
correlation.loc[["Element Code"],["Y2014","Y2015","Y2016","Y2017","Y2018"]]

                 Y2014     Y2015     Y2016     Y2017     Y2018
Element Code  0.024457  0.023889  0.023444  0.024254  0.024279

In [49]:
# Question 15
importQuantity = dataset.groupby("Element").sum().loc["Import Quantity"]
importQuantity = importQuantity[3:]
importQuantity.idxmax()

'Y2017'

In [53]:
# Question 16
dataset.groupby("Element").sum().loc[["Production"],["Y2014"]]

                 Y2014
Element
Production  1931287.75

In [57]:
# Question 17
highestSum = dataset.groupby("Element").sum().loc[["Food supply quantity (kg/capita/yr)","Food supply (kcal/capita/day)","Import Quantity","Domestic supply quantity"],["Y2018"]]
highestSum.idxmax()

Y2018    Domestic supply quantity
dtype: object

In [82]:
# Question 18
thirdLowest = dataset.groupby("Element").sum().loc[["Food supply quantity (kg/capita/yr)","Food supply (kcal/capita/day)","Protein supply quantity (g/capita/day)","Fat supply quantity (g/capita/day)","Seed"],["Y2018"]]
thirdLowest.sort_values(by = ['Y2018'],ascending = False)

                                            Y2018
Element
Food supply (kcal/capita/day)           455261.00
Food supply quantity (kg/capita/yr)      49056.85
Seed                                     25263.14
Protein supply quantity (g/capita/day)   11833.56
Fat supply quantity (g/capita/day)       10258.69

In [75]:
# Question 19 
TotalImportQuantity = dataset.groupby(["Area","Element"]).sum()
TotalImportQuantity.loc["Algeria"].loc[["Import Quantity"],["Y2018"]]

                    Y2018
Element
Import Quantity  36238.29

In [77]:
# Question 20 
dataset["Area"].nunique()

49